.grey-callout-box {
  background-color: #dedede;
  padding: 20px;
  margin: 20px 0px 20px 0px;
}

.loading-text-box {
  display: inline-block;
  height: calc(10px + 1vmin);
  width: 300px;
  background: #bdbdbd;
}
