.form-select {
  /* Remove default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

p {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: black;
}

/* Remove calendar icon on date selection field (doesn't work on Firefox) */
/*
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
*/


.form-select, .form-input-date {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: black;

  /* Set background color */
  background-color: white;
  border-radius: 0px;

  /* Remove border and add outline for focus */
  border: none;
  outline: 1px solid gray;

  /* Add padding for better appearance */
  padding: 0.25rem 2rem 0.25rem 1rem;
}