/*
 * App Stylesheet
 * by Alex JPS, Eric Edwards
 * 2024-03-06
 *
 * Defines a global style for the app.
 */

body {
  margin: 0;
  font-family:
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gray-background {
  background-color: #e9ecef;
}

.App {
  background-color: #ffffff;
}

.App-content {
  width: 800px;
  margin: 0 auto; /* Center the content horizontally */
  max-width: 90%; /* Ensures the content never exceeds 90% of the viewport width */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.1rem;
}

.App-body {
  margin: calc(15px + 1vh) 0px calc(15px + 1vh) 0px;
  flex: 1;
}

.App-footer {
  font: "Helvetica Neue";
  color: #666666;
  font-size: calc(8px + 1vmin);
}

.error-label {
  color: red;
}

.redirect-error-banner {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Nav-list li {
  padding: 5px 0px 0px 0px;
  display: inline;
  margin-right: 20px;
}

.Nav-list a {
  color: #aaaaaa;
  text-decoration: none;
}
