.Nav {
    padding: 0px 0px;
    width: 100%;
    font-size: 1.25rem
}

.Nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.Nav-list li {
    padding-right: 15px;
    padding: 5px 0px 0px 0px;
    display: inline;
    margin-right: 20px;
}

.Nav-list a {
    color: #707070;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Nav-list a:hover {
    color: #aaaaaa;
}

.Nav-list a.active {
    color: #e00000;
}
