.Nav {
    padding: 0px 0px;
    width: 100%;
    font-size: 1.25rem
}

.Nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.Nav-list li {
    display: inline-block;
    padding-right: 15px;
}

.Nav-list a {
    color: #aaaaaa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Nav-list a:hover {
    color: #666666;
}

.Nav-list a.active {
    color: red;
}
